<div class="detail-page-content" id="parallax">
  <div class="main-image bg-image">
    <div class="title-text parallax-el" data-speed-y="-20" data-offset="0">Event</div>
  </div>
  <section class="main-content">
    <h2 class="heading-text">がもよんヴィレッジ & 縁日</h2>
    <div class="inner-content container">

      <!--がもよんヴィレッジ in café de GAMOYON-->
      <div class="card-content workshop">
        <div class="title-text">
          がもよんヴィレッジ in café de GAMOYON
        </div>
        <div class="description-content">
          <span class="time-content">
          開催時間 12:00 〜 17:00
          </span>
          <span class="price">
            参加費 500円 〜
          </span>
        </div>
        <div class="card-main">
          <ul class="event-list">
            <!--アトリエ鉄線-->
            <li class="list-item">
              <figure class="image-content bg-image"
                      style="background-image: url('/assets/images/events/work-shop_1.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">真鍮アクセサリー作り</dt>
                <dd class="event-shop-name">アトリエ鉄線</dd>
                <dd class="event-definition-description">ブレスレット、ピアス、指輪、ブローチ、オリジナル</dd>
              </dl>
            </li>
            <!--mei-->
            <li class="list-item">
              <figure class="image-content bg-image"
                      style="background-image: url('/assets/images/events/work-shop_2.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">革小物づくり (小物入れ / カード入れ)</dt>
                <dd class="event-shop-name">mei</dd>
                <dd class="event-definition-description">
                  革や飾りを選ぶ→革をカット→アイロン→金具をつける。お終い。お好みでアルファベットの刻印出来ます。（5文字ほど）
                </dd>
              </dl>
            </li>
            <!--Arurela flower-->
            <li class="list-item">
              <figure class="image-content bg-image"
                      style="background-image: url('/assets/images/events/work-shop_3.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">クリスマスリース作り</dt>
                <dd class="event-shop-name">Arurela flower</dd>
                <dd class="event-definition-description">
                  20分くらいでお花でクリスマスリース作りをします。
                </dd>
              </dl>
            </li>

            <!--ahirunoko-->
            <li class="list-item">
              <figure class="image-content bg-image"
                      style="background-image: url('/assets/images/events/work-shop_4.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">手乗りソックスぎゃもっしー</dt>
                <dd class="event-shop-name">ahirunoko</dd>
                <dd class="event-definition-description">
                  がもよんフェスのキャラクター、ぎゃもっしーを作ろう！お顔を描くとコロンと手のひらに乗るとっても可愛い自分だけのぎゃもっし ーの完成です♡
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <!---->
        <div class="circle">
          <p class="copy-text">昨年に引き続き<br class="hidden-sm visible-xs-inline visible-lg-inline visible-md-inline">大人気のワークショップを<br
            class="hidden-sm hidden-xs">今年も開催!!</p>
        </div>
      </div>

      <!--縁日-->
      <div class="card-content event">
        <div class="title-text">
          城東商店街　魚庭本店前での催し
        </div>
        <div class="description-content">
          <span class="time-content">
            開催時間  12:00 〜 17:00
          </span>
        </div>
        <div class="card-main">
          <ul class="event-list">
            <!--けん玉-->
            <li class="list-item">
              <figure class="image-content bg-image" style="background-image: url('/assets/images/events/event-1.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">けん玉の販売と体験</dt>
                <dd class="event-shop-name">おもちゃ屋－遊－</dd>
                <dd class="event-definition-description">けん玉の販売と体験 <br>国内産や海外メーカーのけん玉を販売しています</dd>
              </dl>
            </li>
            <!--けん玉のフリースペース-->
            <li class="list-item">
              <figure class="image-content bg-image" style="background-image: url('/assets/images/events/event-2.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">けん玉のフリースペース</dt>
                <dd class="event-shop-name">鐘の音けん玉部</dd>
                <dd class="event-definition-description">
                  蒲生四丁目のcafe bar
                  鐘の音にて2016年に結成されたけん玉チーム。3年連続で広島県廿日市市で開催されるけん玉ワールドカップにも出場している。月に一回は鐘の音定休日の火曜日に初心者でも参加できるけん玉練習会も開催中！
                </dd>
              </dl>
            </li>
            <!--スーパーボールすくい-->
            <li class="list-item">
              <figure class="image-content bg-image" style="background-image: url('/assets/images/events/event-3.jpg')"
              ></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">スーパーボールすくい / ヨーヨー釣り</dt>
                <dd class="event-shop-name">縁日</dd>
                <dd class="event-definition-description">
                  子供はもちろん大人も童心にかえって遊ぼう♪ オープニング時に先着100名にバルーン風船を配布するよ！みんな集合だ！
                </dd>
              </dl>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </section>
  <app-footer class="app-footer"></app-footer>
</div>
