<div class="detail-page-content">
  <div class="main-image">
    <div class="title-text">Event</div>
  </div>
  <section class="main-content">
    <h2 class="heading-text">がもよんヴィレッジ & 縁日</h2>
    <div class="inner-content container">

      <div class="card-content workshop">
        <div class="title-text">
          がもよんヴィレッジ in café de GAMOYON
        </div>
        <div class="description-content">
          <span class="time-content">
          開催時間 12:00 〜 17:00
          </span>
          <span class="price">
            参加費 500円 〜
          </span>
        </div>
        <div class="card-main">
          <ul class="event-list">
            <!--アトリエ鉄線-->
            <li class="list-item">
              <figure class="image-content"></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">真鍮アクセサリー作り</dt>
                <dd class="event-shop-name">アトリエ鉄線</dd>
                <dd class="event-definition-description">ブレスレット、ピアス、指輪、ブローチ、オリジナル</dd>
              </dl>
            </li>
            <!--mei-->
            <li class="list-item">
              <figure class="image-content"></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">革小物づくり (小物入れ / カード入れ)</dt>
                <dd class="event-shop-name">mei</dd>
                <dd class="event-definition-description">
                  革や飾りを選ぶ→革をカット→アイロン→金具をつける。お終い。お好みでアルファベットの刻印出来ます。（5文字ほど）
                </dd>
              </dl>
            </li>
            <!--mei-->
            <li class="list-item">
              <figure class="image-content"></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">クリスマスリース作り</dt>
                <dd class="event-shop-name">Arurela flower</dd>
                <dd class="event-definition-description">
                  20分くらいでお花でクリスマスリース作りをします。
                </dd>
              </dl>
            </li>

            <!--mei-->
            <li class="list-item">
              <figure class="image-content"></figure>
              <dl class="event-definition">
                <dt class="event-definition-term">手乗りソックスぎゃもっしー</dt>
                <dd class="event-shop-name">ahirunoko</dd>
                <dd class="event-definition-description">
                  がもよんフェスのキャラクター、ぎゃもっしーを作ろう！お顔を描くとコロンと手のひらに乗るとっても可愛い自分だけのぎゃもっし ーの完成です♡
                </dd>
              </dl>
            </li>
          </ul>
        </div>

        <!---->
        <div class="circle">
          <p class="copy-text">昨年に引き続き<br>大人気のワークショップを<br>今年も開催!!</p>
        </div>
      </div>

    </div>
  </section>
</div>
