@import "../../../../styles/modules";

@include detailPageLayout;
@include modalBase;

.detail-page-content {
  background-color: #fafafa;
}

.main-image {
  background-image: url("/assets/images/pages/live-top.jpg");
}

.main-content {
  .heading-text {
    background-color: #3CBAE8;
    background: linear-gradient(20deg, #3CBAE8, #33B2D6);
  }
}

// タイムテーブル
.time-table-content {
  margin-top: 64px;
  .image-wrapper {
    display: inline-block;
    cursor: pointer;
  }
  .time-table-image {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

//アーティスト
.card-content {
  .artist {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    cursor: pointer;
    // overlay
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 8px;
      pointer-events: none;
      background-color: #fff;
    }
    .artist-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s ease 0s;
      will-change: transform;
      transform: scale(1);
    }
    &:hover .artist-image {
      transform: scale(1.2);
    }
    .artist-name {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px;
      color: #fff;
      font-size: 13px;
      text-align: left;
      background-color: rgba(#3CBAE8, 0.8);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      letter-spacing: .05em;
    }
  }
}

//
// modal
//
.modal-body {
  .right-content {
    .information-content {
      display: flex;
      width: 100%;
      font-size: 12px;
      letter-spacing: .02em;
      color: #666;
      line-height: 16px;
      .information-left-content {
        display: inline-block;
        vertical-align: middle;
        .stage-content {
          margin-bottom: 4px;
        }
        .stage-name {
          display: inline-block;
          vertical-align: middle;
          > i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            color: #999;
          }
          .stage-text {
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            font-family: sans-serif;
          }
        }
        .stage-time {
          display: inline-block;
          vertical-align: middle;
          margin-left: 8px;
        }
      }
      .information-right-content {
        min-width: 30%;
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
        word-break: break-all;
        .genre {
          display: inline-block;
          vertical-align: middle;
          padding-left: 8px;
          border-left: 1px solid #aaa;
          > i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            color: #999;
            line-height: 17px;
          }
        }
      }
    }
  }
}
