<div class="top-page-content">
  <div class="main-image">
    <div class="bg-content"></div>
    <div class="logo-content">がもよんフェス2019</div>
  </div>
  <div class="main-content">
  <section class="section">
    <h1 class="heading-content">
      <span class="heading-text">What’s GAMO4Fes</span>
      <span class="heading-text-jp">がもよんフェスとは？</span>
    </h1>
    <p class="message-content">
      がもよんフェスの舞台は通称“がもよん”と愛され続けている、蒲生四丁目。<br>
      様々な企業様、店舗様の協力を得て地域の活性化を目指し人々の繋がりを大切にした音楽イベント。<br>
      小さな子どもからおじいちゃんおばあちゃんまで、多彩なジャンルの音楽を見て、聴いて、触れる。そんなきっかけづくりになればと2015年に立ち上がった。<br>
      音楽の魅力をみんなで理解して何年か先の未来にも音楽を愛せる人がひとりでも増えるように、そんなこの街の文化をつくっていきたいと願う。<br>
      老若男女、そして世代を越えて人と繋がり全国各地の人達に音楽を通じて笑顔と元気いっぱいのこの街を知ってもらいたい。そんな“がもよん”のミュージックフェスティバルをこれからも築いていこうと思います。<br>
      【音と食のハシゴ】をコンセプトに掲げた聴いて、観て、食べて、飲んで、遊べるがもよんフェスで人と人が繋がる素敵な出逢いを♪<br>
      古民家が多く残された下町ならではの風情のある町並みをゆっくりとお散歩してみたり、迷ってしまう程の飲食店の中からお気に入りのお店を見つけたりしながら色んな会場を巡りのんびりと音楽に浸ってみませんか？
    </p>
  </section>

  </div>

</div>
