@import "../../../../styles/variables";
@import "../../../../styles/modules";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@include modalBase;

.top-page-content {
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-in 0.3s;
  &.is-loaded {
    opacity: 1;
    .main-image {
      .logo-content {
        background-position-y: center;
      }
      .bg-content.gyammossy {
        transform: translateY(0);
      }
    }
    &.moving {
      .main-image .bg-content.gyammossy {
        transform-origin: 59% 53%;
        animation: movingGyamossy 14s ease 0s infinite normal;
      }
    }
  }
}

@keyframes movingGyamossy {
  0% {
    transform: rotate(0) translateY(0);
  }
  10% {
    transform: rotate(0) translateY(7px);
  }
  11%, 13% {
    transform: rotate(0deg) translateY(7px);
  }
  12%, 14% {
    transform: rotate(3deg) translateY(7px);
  }
  15% {
    transform: rotate(0) translateY(7px);
  }
  30% {
    transform: rotate(0) translateY(0);
  }
  100% {
    transform: rotate(0) translateY(0);
  }
}

.main-image {
  position: relative;
  width: 100%;
  height: 90vh;
  background: linear-gradient(to bottom, #BAE2F9 15%, #ffffff 35%);
  overflow: hidden;
  .bg-content {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: auto 75vh;
    background-position: center 3vh;
    background-repeat: no-repeat;
    &.town {
      z-index: 2;
      background-image: url($image-path + "/top/town.png");
    }
    &.gyammossy {
      transform: translateY(120px);
      will-change: transform;
      transition: transform 800ms ease-in 1.6s;
      z-index: 1;
      background-image: url($image-path + "/top/gyammossy.png");
    }
  }
  .logo-content {
    position: absolute;
    bottom: 3vh;
    left: 0;
    right: 0;
    height: 235px;
    width: 670px;
    margin: 0 auto;
    background-image: url($image-path + "/top/logo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    text-indent: -9999px;
    z-index: 10;
    background-position-y: 230px;
    transition: background-position-y 600ms ease-in .2s;
  }
  .cloud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 180px;
    margin: 80px auto 0;
    background-image: url($image-path + "/top/kumo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    will-change: transform;
    animation: cloud 3s linear 0s infinite alternate;
    &.cloud-2 {
      right: auto;
      margin: 0;
      top: 200px;
      animation: cloud 3s linear 2s infinite alternate;
    }
  }
  .kira {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: auto 75vh;
    background-position: center 3vh;
    background-repeat: no-repeat;
    background-image: url($image-path + "/top/kira.png");
    z-index: 2;
  }
  .balloon {
    position: absolute;
    top: 0;
    left: -55vw;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 400px;
    z-index: 3;
    .balloon-inner {
      width: 100%;
      height: 100%;
      .balloon-content {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url($image-path + "/top/baloon.png");
      }
    }
    &.is-loaded {
      animation: 3.5s balloonRoll ease-in-out infinite;
      .balloon-inner {
        animation: floatH 7s ease-in-out infinite alternate;
        .balloon-content {
          animation: floatV 6s ease-in-out infinite alternate;
        }
      }
    }
  }
  .scroll-btn {
    appearance: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 60px;
    display: inline-block;
    border: none;
    font-size: 28px;
    color: #999;
    z-index: 100;
    margin-bottom: -60px;
    padding: 4px 8px;
    animation: blinkMove 1s ease-in-out 0s infinite alternate;
    &:hover {
      opacity: .8;
    }
  }
}

@keyframes cloud {
  0% {
    transform: translate(0, 0)
  }
  20% {
    transform: translate(4px, 1px)
  }
  40% {
    transform: translate(8px, 0px)
  }
  60% {
    transform: translate(12px, -1px)
  }
  80% {
    transform: translate(16px, 0px)
  }
  100% {
    transform: translate(20px, 1px)
  }
}

@keyframes blink {
  0% {
    opacity: 0.6
  }
  100% {
    opacity: 1
  }
}

@keyframes blinkMove {
  0% {
    opacity: 0.6;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}

@keyframes balloonRoll {
  0%, 100% {
    transform: rotateZ(10deg) scale(0.9);
  }
  50% {
    transform: rotateZ(-10deg) scale(1);
  }
}

@keyframes floatH {
  0%, 100% {
    transform: translate3d(2vw, 0, 0);
  }
  50% {
    transform: translate3d(-2vw, 0, 0);
  }
}

@keyframes floatV {
  0%, 100% {
    transform: translate3d(0, 5vh, 0);
  }
  50% {
    transform: translate3d(0, -3vh, 0);
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 64px;
}

.section {
  max-width: 1000px;
  margin-top: 160px;
  padding: 24px;
  position: relative;
  .heading-content {
    margin: 0;
    padding: 0 0 16px 0;
    position: relative;
    color: #00A95F;
    letter-spacing: .05em;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60px;
      height: 2px;
      margin: 0 auto;
      background: linear-gradient(to right, #00A09B, #00B383);

    }
    .heading-text {
      display: block;
      font-size: 64px;
      font-family: 'Lilita One', sans-serif;
    }
    .heading-text-jp {
      display: block;
      margin-top: 8px;
      font-size: 45%;
      font-family: 'mamelon', sans-serif;
      color: #00A73D;
    }
  }
}

/*** Circle ***/
.circle-content {
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  &.c1 {
    background-image: url('/assets/images/top/circle/c1.svg');
  }
  &.c2 {
    background-image: url('/assets/images/top/circle/c2.svg');
  }
  &.c3 {
    background-image: url('/assets/images/top/circle/c3.svg');
  }
  &.c4 {
    background-image: url('/assets/images/top/circle/c4.svg');
  }
  &.c5 {
    background-image: url('/assets/images/top/circle/c5.svg');
  }
  &.c6 {
    background-image: url('/assets/images/top/circle/c6.svg');
  }
  &.c7 {
    background-image: url('/assets/images/top/circle/c7.svg');
  }
}

.what-gamoyon {
  .btn-wrapper {
    padding: 48px 0 0;
    text-align: right;
  }
}

.what-gamoyon .circle-content {
  &:nth-of-type(1) {
    left: 0;
    bottom: 0;
    width: 220px;
    height: 220px;
    margin-left: -130px;
    margin-bottom: -60px;
  }
  &:nth-of-type(2) {
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    margin-bottom: -100px;
  }
}

.line-up-content {
  &.live .circle-content {
    &:nth-of-type(1) {
      right: 0;
      bottom: 0;
      width: 200px;
      height: 200px;
      margin-right: -130px;
      margin-bottom: -100px;
    }
    &:nth-of-type(2) {
      right: 0;
      bottom: 0;
      width: 130px;
      height: 130px;
      margin-bottom: -170px;
    }
  }
  &.food .circle-content {
    left: 0;
    bottom: 0;
    width: 600px;
    height: 600px;
    margin-left: -600px;
    margin-bottom: -300px;
    opacity: .6;
  }
  &.event .circle-content {
    &:nth-of-type(1) {
      right: 0;
      bottom: 0;
      width: 160px;
      height: 160px;
      margin-right: -130px;
      margin-bottom: -190px;
    }
    &:nth-of-type(2) {
      right: 0;
      bottom: 0;
      width: 200px;
      height: 200px;
      margin-bottom: -270px;
    }
  }
}

.section {
  position: relative;
}

.time-table, .access, .faq {
  position: relative;
  max-width: 1000px;
}

.time-table {
  width: 100%;
  position: relative;
  .circle-content {
    &:nth-of-type(1) {
      left: 0;
      bottom: 0;
      width: 220px;
      height: 220px;
      margin-left: -130px;
      margin-bottom: -60px;
    }
    &:nth-of-type(2) {
      left: 0;
      bottom: 0;
      width: 100px;
      height: 100px;
      margin-bottom: -140px;
    }
  }
}

.access {
  width: 100%;
  position: relative;
  .circle-content {
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin-right: -190px;
    margin-bottom: -130px;
  }
}

.faq {
  width: 100%;
  position: relative;
  .circle-content {
    &:nth-of-type(1) {
      left: -180px;
      bottom: 0;
      width: 200px;
      height: 200px;
      margin-bottom: -100px;
    }
    &:nth-of-type(2) {
      left: 0;
      bottom: 0;
      width: 150px;
      height: 150px;
      margin-bottom: -140px;
    }
  }
}

/*** Circle End ***/

.message-content {
  margin-top: 64px;
  text-align: left;
  font-size: 14px;
  letter-spacing: .05em;
  color: #666;
  line-height: 2;
}

/**
* Live ~ Event
*/
.section.line-up-content {
  width: 100%;
  padding-top: 8px;
  .heading-content {
    position: absolute;
    display: inline-block;
    width: 185px;
    margin: 0 auto;
    top: 0;
    left: 100px;
    right: 0;
    z-index: 10;
    text-align: left;
    &.is-left {
      left: 40px;
      right: auto;
      &:before {
        left: 0;
        right: auto;
      }
    }
    .heading-text {
      font-size: 72px;
      letter-spacing: .2em;
    }
    .heading-text-jp {
      text-align: right;
    }
  }
}

.heading-content + .row {
  padding: 32px 32px 0;
}

.image-content {
  display: inline-block;
  width: 100%;
  height: 340px;
  border-radius: 8px;
  box-shadow: 2px 15px 50px rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position: center center;
  &.item-live {
    background-image: url($image-path +  '/top/live.jpg');
  }
  &.item-food {
    background-image: url($image-path +  '/top/food.jpg');
  }
  &.item-event {
    background-image: url($image-path +  '/top/event.jpg');
  }
}

.description-content {
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  &.is-left {
    padding-left: 0;
  }
  .description-text {
    color: #666;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: .05em;
  }
}

/**
* TimeTable ~
*/

.section.panel-content {
  width: 100%;
  padding: 40px 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .heading-content {
    margin-bottom: 24px;
    letter-spacing: .1em;
    &:before {
      display: none;
    }
    .heading-text {
      display: inline-block;
      position: relative;
      font-size: 55px;
      &:before, &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 30px;
        height: 1px;
        background-color: #00A95F;
      }
      &:before {
        left: 0;
        margin-left: -54px;
      }
      &:after {
        right: 0;
        margin-right: -54px;
      }
    }
  }
  .body-content {
    color: #666;
    letter-spacing: .05em;
  }
}

.time-table-image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.g-map-wrapper {
  min-height: 400px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  .g-map {
    width: 100%;
    height: 400px;
  }
}

.address-content {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.map-definition-list {
  color: #666;
  letter-spacing: .05em;
  .definition-term {
    font-weight: normal;
    > i {
      display: inline-block;
      margin-right: 4px;
      color: #999;
    }
  }
  .definition-description {
    margin-top: 16px;
  }
}

.faq-list, .attention-list {
  list-style: none;
  font-size: 13px;
  .list-item {
    line-height: 1.7;
    & + .list-item {
      margin-top: 24px;
    }
  }
}

.faq-definition-list {
  margin: 0;
  line-height: 1.7;
  .definition-term {
    font-size: 14px;
    color: $main-color;
  }
  .definition-description {
    padding-top: 4px;
  }
}

.support-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  .list-item {
    display: inline-block;
    margin: 0 16px 24px;
    max-height: 60px;
    > a {
      display: inline-block;
    }
    .logo-image {
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 50px;
      max-width: 220px;
    }
  }
}

.gamoyon-supporter-wrapper {
  &.is-show {
    background-color: #fafafa;
    border-radius: 4px;
  }
  .btn-toggle-content {
    padding: 16px 0 24px;
    text-align: center;
    .btn {
      outline: none;
      text-decoration: none;
      i {
        margin-left: 4px;
      }
    }
    .heading-text {
      display: block;
      font-family: "mamelon", sans-serif;
      color: #00A73D;
      font-size: 16px;
    }
  }
  .gamoyon-supports-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .list-item {
      width: 155px;
      position: relative;
      display: inline-block;
      margin: 0 4px 8px;
      > a {
        width: 100%;
        display: inline-block;
      }
      .shop-image {
        display: inline-block;
        width: 100%;
        height: 100px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 4px;
      }
      .shop-name {
        font-size: 12px;
        letter-spacing: .01em;
      }
    }
  }
}

// youtube動画へのリンク
.youtube-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0 0;
  .youtube-link {
    width: 240px;
    margin: 0 24px;
    height: auto;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 24px;
    opacity: 1;
    &:hover, &:focus {
      opacity: .8;
      transition: opacity .2s ease 0s;
    }
    .label-text {
      display: block;
      padding-top: 8px;
      font-size: 13px;
      letter-spacing: .05em;
    }
  }
}

// SNSのリンク
.sns-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.sns-content-link {
  color: #fff;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  height: 70px;
  width: 250px;
  margin: 24px 16px 0 0;
  padding: 0 16px;
  font-size: 25px;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
  .link-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .icon-content {
    display: inline-block;
    font-size: 35px;
    line-height: 65px;
    z-index: 10;
  }
  .right-content {
    display: inline-block;
    width: 70%;
    margin-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    z-index: 10;
    letter-spacing: .05em;
    .description-text {
      display: block;
      & + .description-text {
        margin-top: 4px;
      }
    }
  }
}

.sns-content-link {
  &.insta {
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    &:before {
      background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
    }
  }
  &.twitter {
    background-color: #19B1E7;
    &:before {
      display: none;
    }
  }
  &.fb {
    background-color: #1977F2;
  }
  &.youtube {
    text-indent: -9999px;
    background-image: url($image-path + '/yt_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 45px;
  }
}


/**
* Modal Style
*/
.modal-body {
  display: block;
  .top-content {
    .heading-content {
      text-align: center;
      font-family: "Lilita One", sans-serif;
      color: #00A95F;
      margin: 0;
      padding: 0 0 16px 0;
      position: relative;
      font-size: 30px;
    }
    .heading-text {
      display: block;
      text-align: center;
      letter-spacing: .05em;
      font-size: 64px;
    }
    .heading-text-jp {
      display: block;
      margin-top: 8px;
      font-size: 45%;
      font-family: "mamelon", sans-serif;
    }
    .message-image {
      height: 380px;
      background-image: url($image-path + '/top/message.jpg');
    }
  }
  .bottom-content {
    padding-top: 24px;
    color: #666;
    line-height: 1.7;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    white-space: pre-line;
    .description-text {
      > span {
        display: block;
      }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .description-content {
    justify-content: flex-end;
    .description-text {
      padding-top: 24px;
      min-height: 180px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .main-image .kira {
    animation: blink 800ms ease-in-out 0s infinite alternate;
  }
  .description-content {
    justify-content: flex-end;
    .description-text {
      padding-top: 24px;
      min-height: 220px;
    }
  }
}

/**
* SP対応
*/
@media screen and (max-width: $screen-md) {
  .main-image {
    height: 75vh;
    .logo-content {
      width: 310px;
      height: 150px;
      bottom: auto;
      top: calc(75vh - 150px);
    }
    .balloon {
      width: 250px;
      height: 280px;
    }
  }

  .section {
    max-width: 1000px;
    margin-top: 80px;
    padding: 24px 8px;
    position: relative;
    .heading-content {
      margin: 0;
      padding: 0 0 16px 0;
      position: relative;
      color: #00A95F;
      letter-spacing: .05em;
      text-align: center;
      &:before {
        width: 60px;
        height: 2px;
        margin: 0 auto;
      }
      .heading-text {
        font-size: 40px;
      }
      .heading-text-jp {
        margin-top: 8px;
        font-size: 45%;
      }
    }
  }
  .message-content {
    margin-top: 64px;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 2;
  }
  /**
  * Live ~ Event
  */
  .section.line-up-content {
    padding-top: 8px;
    .heading-content {
      width: 250px;
      top: 270px;
      left: 32px;
      right: auto;
      &.is-left {
        left: 32px;
        right: auto;
      }
      &:before {
        margin: 0;
      }
      .heading-text {
        font-size: 64px;
        letter-spacing: .2em;
      }
      .heading-text-jp {
        text-align: left;
      }
    }
  }

  .description-content {
    height: 300px;
    padding-top: 48px;
    &.is-left {
      padding-left: 15px;
    }
    .description-text {
      font-size: 12px;
      padding-bottom: 24px;
    }
  }

  .section.panel-content {
    padding: 32px 16px;
    .heading-content {
      margin-bottom: 16px;
      .heading-text {
        font-size: 36px;
        &:before, &:after {
          width: 30px;
        }
        &:before {
          left: 0;
          margin-left: -40px;
        }
        &:after {
          right: 0;
          margin-right: -40px;
        }
      }
    }
    .body-content {
      color: #666;
      letter-spacing: .05em;
      > ul {
        padding-left: 16px;
      }
    }
  }
  .image-content {
    width: 85%;
    height: 300px;
    margin-left: 16px;
  }

  .address-content {
    height: auto;
    padding-top: 24px;
    .address-inner {
      text-align: center;
    }
  }

  .attention-list {
    font-size: 12px;
  }

  .faq-list {
    font-size: 12px;
  }
  .btn-wrapper {
    width: 100%;
    text-align: right;
  }
  .g-map-wrapper {
    min-height: 300px;
    .g-map {
      height: 300px;
    }
  }

  .gamoyon-supporter-wrapper {
    .gamoyon-supports-list {
      .list-item {
        width: 135px;
        margin: 0 8px 10px;
        .shop-image {
          height: 90px;
        }
        .shop-name {
          font-size: 11px;
          letter-spacing: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .description-content {
    height: auto;
  }
}

@media screen and (max-width: $screen-xs) {
  .main-image {
    height: 80vh;
    .bg-content {
      background-size: auto 75vh;
      background-position: center 1vh;
    }
    .cloud {
      height: 50px;
      width: 180px;
      margin-top: 40px;
      &.cloud-2 {
        right: auto;
        margin: 0;
        top: 110px;
      }
    }
    .kira {
      height: 100%;
      background-size: auto 75vh;
      background-position: center 1vh;
    }
    .balloon {
      width: 115px;
      height: 250px;
    }
    .scroll-btn {
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      margin-bottom: -30px;
    }
  }


  .section.line-up-content {
    width: auto;
  }
  .faq-list, .attention-list {
    font-size: 12px;
  }

  .faq-definition-list {
    .definition-term {
      font-size: 13px;
      margin-bottom: 4px;
    }
  }

  .support-list {
    .list-item {
      max-height: 60px;
      .logo-image {
        max-height: 40px;
        max-width: 220px;
      }
    }
  }
  .js-translate-x {
    transform: translateX(10px);
    transition: all 0.4s ease-in 0s;
    &.is-active {
      transform: translateX(0);
    }
  }
  .js-translate-y {
    transform: translateY(10px);
    transition: all 0.4s ease-in 0s;
    &.is-active {
      transform: translateX(0);
    }
  }

  :host ::ng-deep {
    .what-gamoyon.section .btn-wrapper {
      padding-top: 0;
      .btn-message .btn-main {
        width: 200px;
        font-size: 12px;
      }
    }
  }
  .modal-body {
    .top-content {
      .heading-content {
        font-size: 24px;
      }
      .heading-text {
        font-size: 44px;
      }
      .heading-text-jp {
        margin-top: 8px;
        font-size: 45%;
      }
      .message-image {
        height: 250px;
      }
    }
    .bottom-content {
      padding-top: 16px;
      .description {
        font-size: 12px;
        padding: 0 8px;
      }
    }
  }
}

.is-display-none {
  visibility: hidden;
  pointer-events: none;
}

.js-opacity {
  opacity: 0;
  transition: all 0.4s ease-in 0s;
  &.is-active {
    opacity: 1;
  }
}

.js-translate-x {
  transform: translateX(20px);
  transition: all 0.4s ease-in-out 0s;
  &.is-active {
    transform: translateX(0);
  }
}

.js-translate-y {
  transform: translateY(20px);
  transition: all 0.4s ease-in-out 0s;
  &.is-active {
    transform: translateX(0);
  }
}

:host ::ng-deep {
  .btn-message .btn-main {
    width: 250px;
    color: #00A95F;
    background: transparent;
  }
}

.back-button-wrapper {
  margin-top: 24px;
  .btn-back {
    outline: none;
    box-shadow: none;
    color: #00A95F;
    text-decoration: none;
    > i {
      margin-right: 16px;
    }
  }
}

/**
* Tooltip
*/
:host ::ng-deep {
  .tooltip-inner {
    background-color: #029352;
    color: #fff;
  }
  .tooltip.top .tooltip-arrow:before,
  .tooltip.top .tooltip-arrow {
    border-top-color: #029352;
  }
  .tooltip.bottom .tooltip-arrow:before,
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #029352;
  }
}
