<div class="top-page-content" [class.is-loaded]="isLoaded">
  <div class="main-image">
    <div class="bg-content town bg-image"></div>
    <div class="bg-content gyammossy bg-image"></div>
    <div class="cloud cloud-1 bg-image"></div>
    <div class="cloud cloud-2 bg-image"></div>
    <div class="kira"></div>
    <button (click)="onMoveGamoyon()"
            type="button" class="scroll-btn">
      <i class="icomoon-angle-down-solid"></i>
    </button>
    <div class="logo-content bg-image">がもよんフェス2019</div>
  </div>
  <div class="main-content container">

    <section class="section what-gamoyon">
      <h2 class="heading-content" #gamoyon>
        <span class="heading-text">What’s GAMO4Fes</span>
        <span class="heading-text-jp">がもよんフェスとは？</span>
      </h2>
      <p class="message-content">
        がもよんフェスの舞台は通称“がもよん”と愛され続けている、蒲生四丁目。<br>
        様々な企業様、店舗様の協力を得て地域の活性化を目指し人々の繋がりを大切にした音楽イベント。<br>
        小さな子どもからおじいちゃんおばあちゃんまで、多彩なジャンルの音楽を見て、聴いて、触れる。そんなきっかけづくりになればと2015年に立ち上がった。<br>
        音楽の魅力をみんなで理解して何年か先の未来にも音楽を愛せる人がひとりでも増えるように、そんなこの街の文化をつくっていきたいと願う。<br>
        老若男女、そして世代を越えて人と繋がり全国各地の人達に音楽を通じて笑顔と元気いっぱいのこの街を知ってもらいたい。そんな“がもよん”のミュージックフェスティバルをこれからも築いていこうと思います。<br>
        【音と食のハシゴ】をコンセプトに掲げた聴いて、観て、食べて、飲んで、遊べるがもよんフェスで人と人が繋がる素敵な出逢いを♪<br>
        古民家が多く残された下町ならではの風情のある町並みをゆっくりとお散歩してみたり、迷ってしまう程の飲食店の中からお気に入りのお店を見つけたりしながら色んな会場を巡りのんびりと音楽に浸ってみませんか？
      </p>
    </section>
    <!--Live-->
    <section class="section row line-up-content live">
      <h2 class="heading-content col-md-12">
        <span class="heading-text">Live</span>
        <span class="heading-text-jp">ライブ</span>
      </h2>
      <div class="row">
        <div class="col-md-6 col-sm-6 image-col">
          <div class="image-content item-live bg-image"></div>
        </div>
        <div class="col-md-6 col-sm-6 description-content">
          <div class="hidden-xs"></div>
          <div class="description-text">
            今年は5周年！ということで 総勢104組の豪華なアーティストが 集まりました。<br>
            全国各地で精力的に活動してるアーティストや、城東区在住のアーティストなど、
            全国の音楽が大集合いたします！ここにしかない出逢いが必ずあります。
          </div>
          <div class="btn-wrapper">
            <app-button (clicked)="onMovePage(routes.LIVE.path)"
            ></app-button>
          </div>
        </div>
      </div>
    </section>

    <!--Food-->
    <section class="section row line-up-content food">
      <h2 class="heading-content col-md-12 is-left">
        <span class="heading-text">Food</span>
        <span class="heading-text-jp">フード</span>
      </h2>
      <div class="row">
        <div class="col-md-6 col-sm-6 image-col visible-xs-block visible-sm-block text-right">
          <div class="image-content item-food"></div>
        </div>
        <div class="col-md-6 col-sm-6 description-content is-left">
          <div class="hidden-xs hidden-sm"></div>
          <div class="description-text">
            下町の雰囲気が漂う蒲生四丁目にはたくさんの飲食店があります。<br>
            古民家を改造してできた店舗もたくさんあり、そこに集まる人たちは人情味の溢れる人ばかり。<br>
            お料理、雰囲気、人柄も合わせてお楽しみください。 気に入るお店がきっとあります。
          </div>
          <div class="btn-wrapper">
            <app-button (clicked)="onMovePage(routes.FOOD.path)"
            ></app-button>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 image-col hidden-xs hidden-sm">
          <div class="image-content item-food"></div>
        </div>
      </div>
    </section>

    <!--event-->
    <section class="section row line-up-content event">
      <h2 class="heading-content col-md-12">
        <span class="heading-text">Event</span>
        <span class="heading-text-jp">イベント</span>
      </h2>
      <div class="row">
        <div class="col-md-6 col-sm-6 image-col">
          <div class="image-content item-event bg-image"></div>
        </div>
        <div class="col-md-6 col-sm-6 description-content">
          <div class="hidden-xs"></div>
          <div class="description-text">
            café de GAMOYON では毎年ライブと並行してワークショップが開催されてます。<br>
            がもよんフェスのゆるきゃらギャモッシーを作ったり、特別なアクセサリーや小物を作って思い出を形に残しませんか？
          </div>
          <div class="btn-wrapper">
            <app-button (clicked)="onMovePage(routes.EVENT.path)"
            ></app-button>
          </div>
        </div>
      </div>
    </section>

    <!--Time Table -->
    <div class="time-table">
      <section class="section panel-content">
        <h2 class="heading-content">
          <span class="heading-text">Time Table</span>
          <span class="heading-text-jp">タイムテーブル</span>
        </h2>
        <div class="body-content">
          <img class="time-table-image" draggable="false"
               src="assets/images/time-table.jpg" alt="タイムテーブル"
               (click)="onOpenTimeTable('assets/images/time-table.pdf')">
        </div>
      </section>
    </div>
    <!--Access-->
    <div class="access">
      <section class="section panel-content">
        <h2 class="heading-content">
          <span class="heading-text">Access</span>
          <span class="heading-text-jp">アクセス</span>
        </h2>
        <div class="body-content">
          <div class="row">
            <div class="col-md-6">
              <!--GoogleMap-->
              <div class="g-map-wrapper">
                <iframe
                  class="g-map"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.1681690027135!2d135.54499300129666!3d34.70093808033841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e0e6b8f0204d%3A0x44862fbd61bc458a!2z6JKy55Sf5Zub5LiB55uu6aeF!5e0!3m2!1sja!2sjp!4v1568039110368!5m2!1sja!2sjp"
                  frameborder="0" style="border:0;" allowfullscreen=""
                ></iframe>
              </div>
            </div>
            <div class="col-md-6 address-content">
              <div class="address-inner">
                <dl class="map-definition-list text-left">
                  <dt class="definition-term"><i class="icomoon-map-marker-alt-solid"></i>蒲生四丁目</dt>
                  <dd class="definition-description">〒536-0004 大阪府大阪市城東区今福西３丁目６</dd>
                </dl>
                <app-button (clicked)="onMovePage(routes.ACCESS.path)"
                ></app-button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--Attention-->
    <section class="section panel-content">
      <h2 class="heading-content">
        <span class="heading-text">Attention</span>
        <span class="heading-text-jp">注意事項</span>
      </h2>
      <div class="body-content">
        <ul class="attention-list">
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                運営について
              </dt>
              <dd class="definition-description">
                主催者が運営等に支障をきたすと判断した場合、
                その告知時期・方法に関わらず運営上のルールを変更する場合がございます。予めご了承下さい。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                雨天時について
              </dt>
              <dd class="definition-description">
                本フェスティバルは雨天決行です（天災時除く）
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                タイムテーブルについて
              </dt>
              <dd class="definition-description">
                出演アーティストは都合により出演キャンセル、変更になる場合があります。<br>
                その際は各SNSでのお知らせを予定しておりますので、都度ご確認ください。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                入場料について
              </dt>
              <dd class="definition-description">
                基本的にチケットは必要はありませんので、各会場へ直接お越しください。<br>
                飲食店舗の会場は入店時にワンオーダーのご注文をお願いしております。（未就学児を除く）<br>
                ※ 城東商店街角屋ステージ、STUDIO GEARは完全入場無料となります。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                ゴミについて
              </dt>
              <dd class="definition-description">
                ゴミのポイ捨ては絶対におやめください。<br>
                ゴミは必ず会場や店舗など所定のゴミ箱へ捨てるようお願い致します。捨てる場所がわからない場合は、ボランティアスタッフにお声がけください。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                喫煙マナーについて
              </dt>
              <dd class="definition-description">
                歩きたばこは禁止です。禁煙エリアを守り、喫煙可能な場所であっても混雑時の喫煙は周囲へのご配慮をお願いいたします。会場や店舗での喫煙場所を守ってください。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                飲酒について
              </dt>
              <dd class="definition-description">
                未成年者・車を運転する方の飲酒は法律で禁止されています。
                また、飲酒運転は同乗者も含め法律違反となります。絶対におやめください。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                撮影・録音について
              </dt>
              <dd class="definition-description">
                会場内へのカメラ・録画/録音機器の持ち込みは可能ですが、出演アーティストの撮影・録画・録音等は出演アーティストへの許可を得て行ってください。
                周りのお客様へのご配慮の上、写真撮影等は行ってください。
                また、当日は公式カメラマンが撮影を行っておりますので、そちらをお楽しみいただけると幸いです。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                公式カメラについて
              </dt>
              <dd class="definition-description">
                本イベントでは、客席を含む会場内の映像・写真が公開されることがあります。あらかじめご理解の上、ご来場ください。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                事故・トラブルについて
              </dt>
              <dd class="definition-description">
                会場内外での事故・盗難等は、主催者・出演アーティスト・会場側では一切責任を負いません。事件、傷害等を起こされた場合など、当事者間で問題解決をしていただきます。お客様間のトラブルに関しても、主催者はその協議等、問題解決には一切関与致しませんので予めご了承下さい。
              </dd>
            </dl>
          </li>
          <li class="li list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                迷惑行為について
              </dt>
              <dd class="definition-description">
                会場内外において、スタッフの指示に従わない方、迷惑行為を行う方は強制的に退場していただくか、入場をお断りする場合があります。
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </section>

    <!--FAQ-->
    <section class="section panel-content">
      <h2 class="heading-content">
        <span class="heading-text">FAQ</span>
        <span class="heading-text-jp">よくある質問</span>
      </h2>
      <div class="body-content">
        <ul class="faq-list">
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">情報は主にどこから出ていますか？
              </dt>
              <dd class="definition-description">
                出演アーティスト発表・タイムテーブル発表等、その他の最新情報は、公式サイト、各SNSやBLOGで発表します。
              </dd>
              <dd class="definition-description">
                各出演アーティストの公式サイトやSNSからも情報提供は行っていますが、最新情報は、公式サイトにてご確認ください。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                公演が中止になることはありますか？
              </dt>
              <dd class="definition-description">
                当イベントは基本的には雨天決行ですが、台風、荒天の際は中止になる場合もあります。
              </dd>
              <dd class="definition-description">
                荒天、自然災害が生じた場合は、公式の各SNSにおいて随時開催状況に関する情報をお伝えします。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                座席指定や整理番号はありますか？
              </dt>
              <dd class="definition-description">
                会場ごとに席は譲り合って、立ち見の方も一人でも多くの方に見て頂けるよう前方へつめていただきますようご協力お願い致します。入場規制なども当日、各SNSにて随時お知らせさせて頂きます。
              </dd>
              <dd class="definition-description">
                STUDIO GEAR出演のRunny
                Noizeの公演に関しましては、会場の混雑が予想される為、本部テントにて12:00頃から整理券を発行いたします。ライブ前の転換時に一度お客様にはすべて会場を出て頂きまして、整理番号順の入場となります。ご了承ください。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                開演後でも入場できるの？ 途中で会場外へ出ることはできるの？
              </dt>
              <dd class="definition-description">
                開場から終演までいつでも入場＆再入場可能です。
              </dd>
              <dd class="definition-description">
                飲食店舗の会場は入店時にワンオーダーのご注文をお願いしております。保護者同伴に限り未就学児は入場無料です。
                ※ 城東商店街角谷ステージ、STUDIO GEARは完全入場無料となりますのでお気軽にお越しいただけます。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                年齢制限等はありますか？
              </dt>
              <dd class="definition-description">
                年齢制限はありません。ただし、小さなお子様は混雑のあった場合大変危険ですので、くれぐれも目を離さぬようにご注意ください。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                開演、終演時間は何時頃？
              </dt>
              <dd class="definition-description">
                11:40からオープニングが城東商店街 角屋ステージにて<br>
                21:10からエンディングがcafe bar鐘の音にて行われます。<br>
                21:20の終演予定ですが、公演当日の進行状況により前後する場合がございます。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                車イス用のスペースはありますか？
              </dt>
              <dd class="definition-description">
                バリアフリーの会場もございます。２階の階段等の会場に関しましてはスタッフでお手伝いさせていただきます。詳しくは当日スタッフまでお問い合わせください。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                グッズ販売はありますか？
              </dt>
              <dd class="definition-description">
                オフィシャルグッズ、アーティストグッズの販売は12:00より本部スペースにて販売予定です。（本部は20:30まで運営しております)<br>
                ※ アーティストグッズの販売は各出演者の都合で販売時間が異なる場合がございます。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                車、バイク、自転車で行きたいのですがどうすればいいですか？
              </dt>
              <dd class="definition-description">
                専用駐車場のご用意はございませんので、近隣のパーキング等をご利用ください。<br>
                なお、路上駐車等の迷惑行為は絶対におやめください。
              </dd>
              <dd class="definition-description">
                自転車、バイクに関しましても、イベント専用の駐輪場の駐輪スペースはありません。<br>
                店舗前や路上等の通行の妨げにならぬよう十分にご注意の上、駐輪いただきますようお願い致します。
              </dd>
            </dl>
          </li>
          <li class="list-item">
            <dl class="faq-definition-list">
              <dt class="definition-term">
                会場は徒歩で移動できますか？
              </dt>
              <dd class="definition-description">
                全会場、蒲生四丁目駅から徒歩圏内の会場となりますのでご安心ください。
                会場マップ片手に色んな会場に足を運んで頂ければと思います。
                移動の際には、信号などの交通ルールをお守りの上、本フェスティバルをお楽しみいただきますよう、お願い致します。
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </section>
    <!--Support-->
    <section class="section panel-content">
      <h2 class="heading-content">
        <span class="heading-text">Support</span>
        <span class="heading-text-jp">協賛</span>
      </h2>
      <div class="body-content">
        <ul class="support-list">
          <li *ngFor="let support of supports"
              class="list-item">
            <a *ngIf="support.web_url; else elseTemplate" [href]="getSafeUrl(support.web_url)" target="_blank">
              <img class="logo-image" draggable="false" [src]="support.image_path" [alt]="support.name">
            </a>
            <ng-template #elseTemplate>
              <img class="logo-image" draggable="false" [src]="support.image_path" [alt]="support.name">
            </ng-template>
          </li>
        </ul>
      </div>
    </section>

    <div class="sns-links">
      <!--Insta-->
      <a class="sns-content-link insta" href="https://www.instagram.com/gamoyon_fes" target="_blank">
        <span class="link-inner">
        <span class="icon-content">
          <i class="icomoon-instagram-brands icon"></i>
        </span>
        <span class="right-content">
          <span class="description-text">Follow Me</span>
          <span class="description-text">#がもよんフェスで投稿！</span>
        </span>
        </span>
      </a>
      <!--Twitter-->
      <a class="sns-content-link twitter" href="https://twitter.com/gamoyon_fes" target="_blank">
        <span class="link-inner">
        <span class="icon-content">
          <i class="icomoon-twitter-brands icon"></i>
        </span>
        <span class="right-content">
          <span class="description-text">Follow Me</span>
          <span class="description-text">#がもよんフェスで投稿！</span>
        </span>
        </span>
      </a>
      <!--fb-->
      <a class="sns-content-link fb" href="https://www.facebook.com/gamoyon.fes" target="_blank">
        <span class="link-inner">
        <span class="icon-content">
          <i class="icomoon-facebook-brands icon"></i>
        </span>
        <span class="right-content">
          <span class="description-text">Follow Me</span>
          <span class="description-text">#がもよんフェスで投稿！</span>
        </span>
        </span>
      </a>
      <!--Youtube-->
      <a class="sns-content-link youtube" href="https://www.youtube.com/channel/UCg5b4A14CVzpk8wrhj0d0fA"
         target="_blank">
        youtube
      </a>
    </div>
  </div>
</div>
