<header class="header hidden-xs">
  <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-logo" [routerLink]="''" title="TOPページ"></a>
        <ul class="nav-list">
          <li *ngFor="let route of navigation"
              class="list-item item-{{route.path}}"
              [class.is-active]="activeRoute === route.path">
            <a class="nav-list-menu" [routerLink]="route.path">
              <span class="nav-title">{{route.data?.titleJp}}</span>
            </a>
          </li>
          <li class="list-item item-news">
            <a class="nav-list-menu" href="https://ameblo.jp/g4f-official" target="_blank">
              <span class="nav-title">ニュース</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="box visible-xs-block"
     [class.is-active]="isActiveHamburger"
     [@addModal]="isActiveHamburger.toString()">
  <div class="btn" [ngClass]="isActiveHamburger ? 'active' : 'not-active'"
       (click)="onChangeHamburgerState()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!--ナビゲーション-->
  <ng-container *ngIf="isActiveHamburger">
    <ul [@navList]="navAnimationState" (@navList.done)="onAnimationDone($event)"
        class="hamburger-nav-list">
      <li class="top-link-item" [class.is-active]="activeRoute === ''">
        <a class="nav-list-menu"
           (click)="onMovePage('')">
          <!--        <i class="icomoon-{{route.data?.icon}}"></i>-->
          <span class="nav-title">トップ</span>
        </a>
      </li>
      <li class="nav-list-item"
          *ngFor="let route of navigation"
          [class.is-active]="activeRoute === route.path">
        <a class="nav-list-menu" (click)="onMovePage(route.path)">
          <i class="icomoon-{{route.data?.icon}}"></i>
          <span class="nav-title">{{route.data?.titleJp}}</span>
        </a>
      </li>
      <li class="nav-list-item item-news">
        <a class="nav-list-menu"
           href="https://ameblo.jp/g4f-official" target="_blank"
           (click)="onChangeHamburgerState()">
          <i class="icomoon-laptop-solid"></i>
          <span class="nav-title">ニュース</span>
        </a>
      </li>
    </ul>
  </ng-container>
</div>
