$fonts-path: '/assets/fonts';

@font-face {
  font-family: 'mamelon';
  src: url($fonts-path + '/mamelon/Mamelon.otf') format("opentype");
  font-display: swap;
}

/**
font-family: 'Lilita One', cursive;
font-family: 'Noto Sans JP', sans-serif;
 */
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Noto+Sans+JP&display=swap');
