<div class="app-wrapper">
  <app-header></app-header>
  <div class="app-content">
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>
  <!-- parallax ライブラリ使用のため各コンポーネントでフッターを定義 -->
  <!--    <app-footer class="app-footer"></app-footer>-->
</div>
<div class="splash-base" *ngIf="(state !== 'show') || splashState === 'change'">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="splash-wrapper" [@splash]="splashState" (@splash.done)="onDoneSplash($event)">
  <div class="splash"></div>
  <div class="splash splash-2"></div>
  <div class="splash splash-3"></div>
  <div class="splash splash-4"></div>
</div>
<!--&lt;!&ndash;公開前&ndash;&gt;-->
<!--<ng-container *ngIf="isHidden">-->
<!--  <div class="splash before-release-view">-->
<!--    <div class="inner-content">-->
<!--      <div class="logo-content"></div>-->
<!--      <div class="heading text-center">Thank you for coming :)</div>-->
<!--      <p class="description-text text-center">-->
<!--        この「がもよんフェス2019 official Site」は公開に向けて準備中です。<br>-->
<!--        公開までしばらくお待ちください。-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->
