<div class="detail-page-content">
  <div class="main-image bg-image">
    <div class="title-text">Access</div>
  </div>
  <section class="main-content">
    <h2 class="heading-text">アクセス</h2>
    <div class="inner-content container">

      <div class="card-content">
        <div class="title-text">
          エリアマップ
        </div>
        <div class="description-content">
          <span class="time-content">
          〒536-0004大阪府大阪市城東区今福西３丁目６  周辺
          </span>
        </div>
        <div class="card-main">
          <img class="map-image" draggable="false" src="assets/images/access/event-map.jpg" alt="エリアマップ">
        </div>
      </div>

      <!--GoogleMap-->
      <div class="g-map-wrapper">
        <iframe
          class="g-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.1681690027135!2d135.54499300129666!3d34.70093808033841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e0e6b8f0204d%3A0x44862fbd61bc458a!2z6JKy55Sf5Zub5LiB55uu6aeF!5e0!3m2!1sja!2sjp!4v1568039110368!5m2!1sja!2sjp"
          frameborder="0" style="border:0;" allowfullscreen=""
        ></iframe>
      </div>

      <div class="access-content">
        <dl class="access-list">
          <dt class="access-term"><i class="icomoon-subway-solid"></i> 電車でお越しの方</dt>
          <dd class="access-description">
            大阪市営地下鉄 鶴見緑地線
          </dd>
          <dd class="access-description">
            大阪市営地下鉄 今里筋線
            <mark>蒲生四丁目駅下車</mark>
          </dd>
        </dl>
        <dl class="access-list">
          <dt class="access-term"><i class="icomoon-bus-solid"></i> バスでお越しの方</dt>
          <dd class="access-description">
            大阪市営バス 31系統 天満橋～花博記念公園北口
          </dd>
          <dd class="access-description">
            大阪市営バス 35系統 守口車庫～杭全
          </dd>
          <dd class="access-description">
            大阪市営バス 36系統 大阪駅～地下鉄門真南
            <mark>地下鉄蒲生四丁目停留所下車</mark>
          </dd>
        </dl>
        <dl class="access-list">
          <dt class="access-term"><i class="icomoon-car-side-solid"></i> お車や徒歩でお越しの方</dt>
          <dd class="access-description">
            大阪駅方面から国道1号線をまっすぐ京橋駅方面に進むと<b>蒲生四丁目</b>の交差点へたどり着きます。
          </dd>
        </dl>
      </div>

    </div>
  </section>
</div>
