<div class="detail-page-content">
  <div class="main-image">
    <div class="title-text">Goods</div>
  </div>
  <section class="main-content">
    <h2 class="heading-text">オフィシャルグッズ</h2>
    <div class="inner-content container">

      <div class="card-content">
        <div class="title-text">Tシャツ</div>
        <div class="description-content">
          <span class="description-text">フォレスト × ホワイト<br>
            3,000円
          </span>
        </div>
        <div class="card-main">
          <figure class="image-content" style="background-image: url('/assets/images/goods/t-shirts.png')"
          ></figure>
        </div>
      </div>

      <div class="card-content">
        <div class="title-text">パーカー</div>
        <div class="description-content">
          <span class="description-text">ブラック × ホワイト<br>
            4,000円
          </span>
        </div>
        <div class="card-main">
          <figure class="image-content" style="background-image: url('/assets/images/goods/hoodie.png')"
          ></figure>
        </div>
      </div>

      <div class="card-content">
        <div class="title-text">ラバーバンド</div>
        <div class="description-content">
          <span class="description-text">ブラック × グリーン<br>
            500円
          </span>
        </div>
        <div class="card-main">
          <figure class="image-content" style="background-image: url('/assets/images/goods/rubber-band.png')"
          ></figure>
        </div>
      </div>

      <div class="card-content">
        <div class="title-text">缶バッジ</div>
        <div class="description-content">
          <span class="description-text">デザイン4種類<br>
            各 200円
          </span>
        </div>
        <div class="card-main">
          <figure class="image-content" style="background-image: url('/assets/images/goods/badge.png')"
          ></figure>
        </div>
      </div>

    </div>
  </section>
</div>
